# General
NODE_ENV=development
PORT=3000

# Database (PostgreSQL)
DATABASE_URL="postgresql://root:password@localhost:5432/ecommerce?schema=public"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password

# NATS JetStream
NATS_URL=nats://localhost:4222

# Authentication
JWT_SECRET=super_secret_enterprise_key_change_me_in_prod
JWT_EXPIRATION=15m
JWT_REFRESH_SECRET=super_secret_refresh_key_change_me_in_prod
JWT_REFRESH_EXPIRATION=7d

# Microservices Ports
API_GATEWAY_PORT=3000
AUTH_SERVICE_PORT=3001
USER_SERVICE_PORT=3002
PRODUCT_SERVICE_PORT=3003
INVENTORY_SERVICE_PORT=3004
CART_SERVICE_PORT=3005
ORDER_SERVICE_PORT=3006
PAYMENT_SERVICE_PORT=3007
NOTIFICATION_SERVICE_PORT=3008
ANALYTICS_SERVICE_PORT=3009

# Microservices Hosts (for local dev, they are localhost, in docker use container names)
AUTH_SERVICE_HOST=localhost
USER_SERVICE_HOST=localhost
PRODUCT_SERVICE_HOST=localhost
INVENTORY_SERVICE_HOST=localhost
CART_SERVICE_HOST=localhost
ORDER_SERVICE_HOST=localhost
PAYMENT_SERVICE_HOST=localhost
NOTIFICATION_SERVICE_HOST=localhost
ANALYTICS_SERVICE_HOST=localhost

# gRPC Configuration
GRPC_AUTH_URL=localhost:50051
GRPC_USER_URL=localhost:50052
GRPC_PRODUCT_URL=localhost:50053
GRPC_INVENTORY_URL=localhost:50054
GRPC_CART_URL=localhost:50055
GRPC_ORDER_URL=localhost:50056
GRPC_PAYMENT_URL=localhost:50057
GRPC_NOTIFICATION_URL=localhost:50058
GRPC_ANALYTICS_URL=localhost:50059
