node_modules
dist
build
coverage
*.log

apps/**/dist
apps/**/build
apps/**/assets
assets

*.config.js
webpack.config.js
tailwind.config.js
postcss.config.js
commitlint.config.js
lint-staged.config.js
generate-pgp-keys.js
test/load/*.js
